<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MapXSize" value="10"/>
    <add key="MapYSize" value="10"/>
    <add key="ShipSizes" value="1|5;3|4"/> <!--use format [ShipACount|[ShipASize];[ShipBCount|ShipBSize]-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>